@tailwind base;
@tailwind components;
@tailwind utilities;

body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    color: white;
}
.scroll-hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  
  .scroll-hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  
  